/* buyer_dashboard.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
}

.search-filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

.search-filters input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

main {
    margin: 2rem;
    display: flex;
}

.sidenav {
    flex: 0 0 250px; /* Set the width of the sidenav */
    margin-right: 2rem;
}

.sidenav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    background-color: #e9ecef;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.sidenav a:hover {
    color: #007bff;
    background-color: #f8f9fa;
}

.content {
    flex: 1;
}

.properties-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.property-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    width: 200px;
}

.property-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}


.property-card:hover {
    background-color: #e9ecef;
}

.property-card-image {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    overflow: hidden;
}

.property-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.property-card-text {
    margin-top: 1rem;
    text-align: center;
}

.my-properties-container .property-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.my-properties-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    max-width: 50%;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
  }

.modal-image-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

.modal-text {
    flex: 1;
    margin-left: 1rem;
}

#modalDetails {
    padding: 0;
    list-style-type: none;
    margin-bottom: 1rem;
}

.price-filters {
    display: flex;
    justify-content: space-between;
}

.bedrooms-filters,
.bathrooms-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
}

.favorite-icon {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .favorite-icon.favorited {
    color: #FFD700; /* Change this to your desired color */
  }
  
